@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 90%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 20% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 20% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 202 60% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 96.1%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 20% 96.1%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 155 22% 56%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 202 60% 42%;
    --chart-1: 202 60% 42%;
    --chart-2: 155 22% 56%;
    --chart-3: 220 50% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 202 60% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 20% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 155 22% 56%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 202 60% 42%;
    --chart-1: 202 60% 42%;
    --chart-2: 155 22% 56%;
    --chart-3: 220 50% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
